CONTROLID_PROTOCOL=https
CONTROLID_IP=192.168.1.100
CONTROLID_PORT=443
CONTROLID_LOGIN=admin
CONTROLID_PASSWORD=admin
CONTROLID_TIMEOUT_MS=7000

FIREBASE_PROJECT_ID=SEU_PROJECT_ID
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

# Apenas para teste local quando o iDFace usar certificado autoassinado.
# Em produção, documentar o risco.
NODE_TLS_REJECT_UNAUTHORIZED=0
