# =========================================================================
# CARRASCO FIT AGENTE LOCAL — CONFIGURAÇÕES
# =========================================================================

# 1. Configurações do Firebase Cloud
# Caminho para o JSON da Conta de Serviço obtido no Firebase Console (Configurações do Projeto -> Contas de Serviço -> Gerar Nova Chave Privada)
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json

# 2. Configurações Físicas da Catraca Control iD
CATRACA_IP=192.168.1.100
CATRACA_PORT=443
CATRACA_PROTOCOL=https
CATRACA_USER=admin
CATRACA_PASSWORD=admin

# 3. Parametros do Equipamento
# Modelos aceitos: idface, idblock ou idflex
CATRACA_MODEL=idface

# Rota de acionamento físico do relé:
# - sec_box (padrão iDFace com placa acionadora de face externa)
# - door (padrão fechaduras diretas)
# - catra (padrão catracas de braço giratório idblock)
CATRACA_RELEASE_ACTION=sec_box
